<div class="jumbotron">

     <h1><i class="fa fa-circle-o-notch"></i>Tim's Site</h1>
<p>This is my smart "ToDo" app, made with Ruby on Rails</p>

<%= link_to 'SignUp', "#", class: 'btn btn-primary btn-lg' %>
     
</div>




